{% extends 'shop/base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">{{product.category.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
  </ol>
</nav>
<div class="row">

    <div class="col-md-4">
        <img src="{{product.image.url}} " class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{product.title}}</h3>
        <p>Price: {{product.price}}</p>
        <p>Description: {{product.description}}</p>
    </div>
    <div >
        {% if product.category.name == 'laptop' %}
        {% include 'shop/laptop_specification.html' %}
        {% endif %}
        {% if product.category.name == 'smartphone' %}
        {% include 'shop/smarphone_specification.html' %}
        {% endif %}

    </div>


</div>
{% endblock %}